[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/solarus-run /root/icarius.solarus
Name=icaRius
Comment=icaRius
Icon=/usr/share/icons/LoginIcons/apps/64/retro_game.png